@media (max-width:991px) {
    .MainBox {
        margin: 0px;
        float: left;
    }

    .OtherBox1 {
        
        float: left;
        border-right: 3px solid crimson;
        border-bottom: 3px solid crimson;
        border-left: 3px solid crimson;
        margin:5px 0px 5px 0px;
    }

    .OtherBox2 {
        
        float: left;
        border-right: 3px solid crimson;
        border-bottom: 3px solid crimson;
        border-left: 3px solid crimson;
        margin: 5px 0px 5px 0px;
    }

    .LoginBox {
        
        
        min-height: 200px;
    }

    .le {
        border: 1px solid white;
       
    }

    .btn_add {
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
        min-width:100%;
    }

    .btn_sign_up {
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-left: 2px solid white;
        min-width: 100%;
    }

    .MainLink {
        word-wrap: break-word;
    }
}
